{% extends 'base.html' %}

{% block title %}
    {{ tag_name }}
{% endblock %}

{% block blog_nums %}
    {{ blog_nums }}
{% endblock %}

{% block cate_nums %}
    {{ cate_nums }}
{% endblock %}

{% block tag_nums %}
    {{ tag_nums }}
{% endblock %}

{% block content %}
<div class="content-wrap">
    <div id="content" class="content">
        <section id="posts" class="posts-expand">
            <div class="collection-title">
                <h2 class="archive-year motion-element" id="archive-year-2017" style="opacity: 1; display: block; transform: translateX(0px);">
                    {{ tag_name }}|标签
                </h2>
            </div>

            {% for blog in tag_blog.object_list %}
                <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">
                    <header class="post-header">
                        <h1 class="post-title" itemprop="name headline">
                            <a class="post-title-link" href="{% url 'blog_id' blog.id %}" itemprop="url">
                              {{ blog.title }}
                            </a>
                        </h1>

                        <div class="post-meta">
                            <span class="post-time">
                                <span class="post-meta-item-icon">
                                    <i class="fa fa-calendar-o"></i>
                                </span>
                                <span class="post-meta-item-text">发表于</span>
                                <time title="Post created" itemprop="dateCreated datePublished" datetime="#">
                                    {{ blog.create_time|date:'Y-m-d' }}
                                </time>
                            </span>
                        </div>
                    </header>
                </article>
            {% endfor %}

        </section>

          <!--分页展示-->
        <nav class="pagination">
            <div class="pageturn">
                <ul class="pagelist">

                    {% if tag_blog.has_previous %}
                        <li class="long"><a href="?{{ tag_blog.previous_page_number.querystring }}">上一页</a></li>
                    {% endif %}

                    {% for page in tag_blog.pages %}
                        {% if page %}
                            {% ifequal page tag_blog.number %}
                                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                            {% else %}
                                 <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                            {% endifequal %}
                        {% else %}
                            <li class="none"><a href="">...</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if tag_blog.has_next %}
                        <li class="long"><a href="?{{ tag_blog.next_page_number.querystring }}">下一页</a></li>
                    {% endif %}

                </ul>
            </div>
        </nav>
    </div>
</div>
{% endblock %}